
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: 'Cormorant Upright', serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h3 {
  font-family: 'Cormorant Upright', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h2 {
  font-family: 'Cormorant Upright', serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
}

h4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}

h1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 117px;
}

/* common css part end */
